<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
       <div>

        <button (click)="back()" class="btn btn-link"><i class='fas fa-angle-left' style='font-size:24px; color:black;'> </i></button>

            <i class='fas fa-shipping-fast  Color-white' style='font-size:24px'> </i>

            <strong><a class="navbar-brand text-white">E-Comm</a></strong>

        </div>
<pre>                                                      </pre>
        <div class="formgroup"    >
           <input class="form-control" type="text" placeholder="Search here" name="product" [(ngModel)]="pname" />
            
        </div>
        <div><button (click)="searchprod()" class="btn btn-warning"><i class="fas fa-search" style='font: size 30px '></i></button></div>
        
        
            <ul class="navbar-nav">
            </ul>
        
      <!-- login logout  -->
      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li>
        <button (click)="home()" class="btn btn-link"><i class="fas fa-home" style='font-size:24px; color:black;'> </i></button>
    </li>
        <li>
           
            <a  *ngIf="hardcodeAuthenticationService.isUserLoggedIn()" routerLink="/profile/{{accid}}"  class="nav-link"> <i class='fas fa-user-circle '  style='font-size:24px;color: black;'></i></a>
        </li>
        <li>
            <a *ngIf="hardcodeAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link " ><i class="fas fa-sign-out-alt" style='font-size:24px;color: rgb(255, 255, 255); '></i></a>
        </li>
    </ul> 
    </nav>
</header>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-3"><br>
            <table class="table table-hover table-bordered">
           <tr><td> <img src="https://m.media-amazon.com/images/I/610YShD8jeL._AC_SY606_.jpg" class="rounded" style="width:200px;height:300px;"></td></tr>
          <tr> <td><p>Price:414.00 <br>
        </table>
        </div>
    </div>
</div>
</div> -->


<div class="container">
    <div class="row">
        <ng-container *ngFor="let c of catogory">
            <div class="item col-md-3"><br>

                <img (click)="searchproduct(c.productId)" src="{{c.link}}" alt="img">
        
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">
                    {{c.productName}}</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Brand:{{c.productBrand}}</p>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Price: &#x20b9;{{c.productPrice}}/-</p>

               
                <button class="btn btn-primary" (click)="searchproduct(c.productId)">VIEW PRODUCT</button>
             </div>
        </ng-container>
        
    </div>
</div>

