<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div>
            <button (click)="back()" class="btn btn-link"><i class='fas fa-angle-left' style='font-size:24px; color:black;'> </i></button>
             <i class='fas fa-shipping-fast Color-white'  style='font-size:24px '></i>
           <strong><a class="navbar-brand text-white" >E-Comm</a></strong>
        </div>

           
        
      <!-- login logout  -->
      <ul class="navbar-nav navbar-collapse justify-content-end">
    
        <li>
            <a *ngIf="hardcodeAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link " ><i class="fas fa-sign-out-alt" style='font-size:24px ;color: rgb(255, 255, 255);'></i></a>
        </li>
    </ul> 
    </nav>
</header>





 <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 border p-4 mt-3 ">
    <form (ngSubmit)="!createForm.invalid &&  update(find.accountEmail,find.accountPassword)"  #createForm="ngForm">
       <fieldset class="form-group">
        
 <label>First Name</label>
 <input readonly type="text" class="form-control" #firstName="ngModel" [(ngModel)]="find.firstName"  name="firstName" required="required" minlength="2" maxlength="25"/>
 <span class="text-danger font-weight-bold" *ngIf="createForm.dirty && firstName.invalid">Please Enter Valid FirstName</span>
</fieldset>
 <fieldset class="form-group">
 <label >Last Name</label>
 <input  readonly type="text" class="form-control" #lastName="ngModel" [(ngModel)]="find.lastName" name="lastName" required="required" maxlength="10"/>
 <span class="text-danger font-weight-bold" *ngIf="createForm.dirty && lastName.invalid">Please Enter Valid LastName</span> 
</fieldset>
 <fieldset class="form-group">
 <label>Email Id</label>
 <input  readonly type="email" class="form-control" #email="ngModel" [(ngModel)]="find.accountEmail" name="email" required="required" maxlength="25"/>
 <span class="text-danger font-weight-bold" *ngIf="createForm.dirty && email.invalid">Please Enter Valid EmailId</span> 
</fieldset>
 <!-- <fieldset class="form-group">
 <label>Mobile Number</label>
 <input type="text" class="form-control" #number="ngModel" [(ngModel)]="find.accountPhone" name="number" required="required" minlength="10" maxlength="12"/>
 <span class="text-danger font-weight-bold" *ngIf="createForm.dirty && number.invalid">Please Enter Valid PhoneNumber</span> 
</fieldset> -->
<fieldset class="form-group">
    <label>Mobile Number</label>
    <input type="text" class="form-control" #number="ngModel" placeholder="**********" (input)="mobileValid($event)" [(ngModel)]="find.accountPhone" name="number" required="required" minlength="10" maxlength="10"/>
    <span class="text-danger font-weight-bold" *ngIf="!isMobileValid">Please Enter Valid PhoneNumber</span> 
   </fieldset>
<!-- <fieldset class="form-group">
    <label>Address</label>
    <input type="text" class="form-control" #address="ngModel" [(ngModel)]="find.address" name="address" required="required" >
    
        <span class="text-danger font-weight-bold" *ngIf="createForm.dirty && address.invalid">Please Enter Address</span> 
   </fieldset> -->

   <fieldset class="form-group">
    <label>Address</label>
   
      <input type="text " class="form-control" #address="ngModel" (input)="addressValid($event)" [(ngModel)]="find.address"  name="address" minlength="15" required="required" >

    <span class="text-danger font-weight-bold" *ngIf="!isAddressValid">Please Enter Valid Address</span> 
   </fieldset>
   
 <!-- <fieldset class="form-group">
 <label>Password</label>
 <input type="password" class="form-control" #password="ngModel" [(ngModel)]="find.accountPassword" name="password" required="required" minlength="4" maxlength="15"/>
 <span class="text-danger font-weight-bold" *ngIf="createForm.dirty && password.invalid">Please Enter Valid Password</span> 
</fieldset> -->

<fieldset class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Include special charcters(eg:@$&)" (input)="passwordValid($event)" #password="ngModel" [(ngModel)]="find.accountPassword" name="password" required="required"  maxlength="15"/>
    <span class="text-danger font-weight-bold" *ngIf="!isPasswordValid">Please Enter Valid Password</span> 
   </fieldset>
<!-- <fieldset class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" [(ngModel)]="copass" name="confirmpassword" />
    </fieldset> -->
    
    <fieldset class="form-group">
        <label>Confirm Password</label>
        <input type="text" class="form-control" [(ngModel)]="copass" (input)="passwordValid($event)" name="confirmpassword" />
        <span class="text-danger font-weight-bold" *ngIf="!isPasswordValid">Please Enter Same Password</span> 
       </fieldset>
    

<button type="submit"  class="btn btn-info">Save Changes</button>
</form>
</div>
</div>
</div> 