
.login{
     width: 90px;
    }
.body{
    background-image: url("https://as1.ftcdn.net/v2/jpg/07/14/01/88/1000_F_714018870_PeBvoRskEahzoSsRQjWv61WRz12QLtwV.jpg");
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        height:100vh;
         width: 100%;
        }

        h1,label,p{
            color: white;
        }